.comment {
  width: 150%;
  padding: 20px 10px;
  align-items: center;
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

.stars input {
  display: none;
}

.stars {
  margin-bottom: 20px;
}
.stars .icons {
  font-size: 25px;
  color: grey;
  transition: 0.3s ease-in-out;
  float: right;
}

input:checked ~ .icons {
  color: orange;
}

input:not(:checked) ~ .icons:hover,
input:not(:checked) ~ .icons:hover ~ .icons {
  font-size: 25px;
  color: orange;
}

.singleComment {
  width: 150%;
  border: 1px solid;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}

.commentSection {
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.commentSection textarea {
  width: 100%;
  height: 100%;
  font-size: 12px;
  padding: 5px;
}
